body {
    text-align: center;
    background-color: #73306950;
    margin: 0px;
}

p {
    margin: 0px;
}


.wrapper {
    display: flex;
    justify-content: center;
}

.cat {
    width: 100px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 10px;
}

.title {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    text-decoration: underline;
    font-size: 72px;
    background-color: white;
    margin: 25px 8px 50px 8px;
    border: 2px solid black;
    flex-shrink: 0;
}

.button {
    background-color: white;
    color: black;
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    font-size: 28px;
    margin: 8px;
    border-radius: 50%;
    padding: 12px;
    border: 2px solid black;
}

*:visited {
   text-decoration: none;
   color: black;
}

.button:hover {
    background-color: #733069;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#main-photo {
  width: 1000px;
  height: auto;
  margin: 60px auto;
}

.recipe-body {
    text-align: left;
    background-color: white;
}

.recipe-header {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    text-decoration: underline;
    font-size: 54px;
    height: 70px;
    background-color: white;
    margin-bottom: 5px;
    background-color: #733069;
}

.recipe-img {
    width: 200px;
    height: auto;
}

.recipe-lesser-headers {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    text-decoration: underline;
    font-size: 26px;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.description {
    background-color: #73306990;
    padding: 5px;
}

.ingredients {
    background-color: #73306980;
    padding: 5px;
}

.steps {
    background-color: #73306970;
    padding: 5px;
}

.back-button {
    text-align: center;
    background-color: #733069;
}

